/* GENERAL */

:root {
	--color-white: #ffffff;
	--color-bg-botton: #0061ff;
	--color-black: #000000;
    --color-text-gray-nav: #A9A9A9;
	--color-bg-hero: #b4d0e7;
	--color-designit: #a2d39b;
	--color-asu: #61082b;
	--color-uf-florida: #0093ce;
	--color-topps: #ff1c1c;
	--color-deisgnit-darker: #f5f5f5;
	--color-world-bicycle-relife: #d5001f;
	--color-lonely-planet: #0d2481;
	--color-clear-channel: #ffd830;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.debug{
    border: 1px solid red;
}



body{
    font-family: 'Inter', sans-serif;
}

ul {
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}

a i{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.narrow-container{
    max-width: 1100px;
    margin: 0 auto;
}

/* UTILITIES */

.botton-blue{
    padding: 5px 10px;
    background-color: var(--color-bg-botton);
    color: var(--color-white);
    display: block;
    border: 0;
    font-size: 0.8rem;
    cursor: pointer;
}
.text-btn-size{
    font-size: 1rem;
}
.margin-top{
    margin-top: 60px;
}
.margin-top-wide{
    margin-top: 150px;
}
.padding-top-bottom{
    padding: 30px 0;
}

.padding-left{
    padding-left: 20px;
}

.padd{
    padding: 20px;
}
.padd-med{
    padding: 30px;
}
.padd-wide{
    padding: 40px;
}


.text-center{
    text-align: center;
}
.a-style{
    color: var(--color-black);
    font-size: 0.8em;
}

.awesome-color{
    color: var(--color-black);
}
.pointer{
    padding: 10px;
    cursor: pointer;
}

.buy-now{
    text-decoration: underline;
    color: var(--color-bg-botton);
    padding: 5px 5px 5px 0 ;
    cursor: pointer;
}





/* FLEX */

.d-felx{
    display: flex;
    flex-flow: row wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}

.align-start{
    align-items: flex-start;
    align-content: flex-start;
}


.justify-between{
    justify-content: space-between;
}

.colum{
    display: flex;
    flex-flow: column wrap;
}

/* HEADER */
header{
    color: var(--color-black);
    width: 100%;
    background-color: var(--color-bg-hero);

}
nav{
    background-color: var(--color-white);
    color: var(--color-text-gray-nav);
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 65px;
    z-index: 1000;
    width: 100%;
}

#hero{
    background-color: var(--color-bg-hero);
    margin-top: 65px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    position: relative;
}


.text-nav{
    color: grey;
    font-size: 0.8rem;
}
.text-hero{
    width: 30%;
}
.text-p{
    font-size: 1.2em;
}
.jumbo{
    width: 70%;
}

#hero img{
    width: 100%;
    position: relative;
    top: 60px;
}

#hero h1{
    font-size: 5rem;
    font-weight: 900;
}

#hero p{
    padding-top: 60px;
}

.arrow-down{
    position: absolute;
    bottom: 10px;
    left: 5px;
}


/* MAIN */
main{
    background-color: var(--color-white);
    color: var(--color-black);
}
    /* SECTION1 */
.section1 h2{
    font-size: 2.7rem;
}
.btn-billing .btn-annual-billing{
    padding-right: 50px;
}
    /* SECTION1-BOX */
.box-border{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: calc(90% / 3);
}

.box-plan ul li{
    padding: 20px 0;
}

.individual-top{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}
.individual-center{
    padding: 30px 15px;
}

.individual-center h3{
    padding-bottom: 20px;
    font-size: 2em;
}
.individual-center ul li{
    padding: 10px 0;
    line-height: 1.4em;
}
.subscription-time{
    color: var(--color-text-gray-nav);
    padding: 20px 0 40px 0;
}

.list{
    padding-left: 25px;
    margin-left: 0;
}

.list-check{
    margin-left: 0;
}

.btn-buy-now span{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.individual-bottom ul li i {
    color: var(--color-bg-botton);
}
.individual-bottom ul li{
    padding: 10px 0;
    line-height: 1.4em;

}
.second-title-box{
    padding-left: 15px;
    padding-bottom: 30px;
}

.enterprise-left{
    width: 60%;
}
.section2{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

    /* SECTION2 */
.img-section2, .text-section2{
    width: 50%;
}
.img-section2 img{
    width: 100%;
}
.btn-white{
    padding: 5px 10px;
    background-color: var(--color-white);
    color: var(--color-black);
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.4);
}

.text-section2 h3{
    font-size: 2em;
}

    /* SECTION3 */
.dropbox-tool{
    width: calc(90% / 3);
}
.tool-img img{
    width: 100%;
}
.text-img h5{
    font-size: 1.4em;
    padding-bottom: 20px;
}
    /* SECTION4 */
#promotion h3{
    font-size: 2.5em;
    line-height: 1.5em;
}
    /* SECTION5 */
.brand{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.brands-logo, .designit-central{
    width: 50%;
    height: 50%;
    position: relative;
}
.designit-central{
    border-bottom: 1px solid black;
    
}
.brands-logo img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit-central img{
    width: 100%;
}
.text-designit p{
    overflow: auto;
}
    /* brands colors */
.designit-central-bg{
    background-color: var(--color-deisgnit-darker);
}
.designit{
    background-color: var(--color-designit);
}
.asu{
    background-color: var(--color-asu);
}
.uof{
    background-color: var(--color-uf-florida);
}
.topps{
    background-color: var(--color-topps);
}
.wb{
    background-color: var(--color-world-bicycle-relife);
}
.hearst{
    background-color: var(--color-bg-hero);
}
.lenelyp{
    background-color: var(--color-lonely-planet);
}
.clearch{
    background-color: var(--color-clear-channel);
}



/* FOOTER */
footer{
    background-color: var(--color-black);
    color: var(--color-white);
}



